<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <h3>BloodCollector</h3>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Post Manager</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Post View</a>
                        </li>

                    </ul>
                </li>

                <li class="active">
                    <a href="tables.html">
                        <i class="fas fa-table"></i>User Manager</a>
                </li>



                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.html">Login</a>
                        </li>

                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</aside>